---
import MarkdownComponent from '@src/components/MarkdownComponent'
import Typography from '@src/components/Typography.astro'
import { Picture } from 'astro:assets'

const { description, gallery } = Astro.props
const imgage = gallery[0]
---

<section id='carrusel' class='flex flex-col items-center justify-center gap-8 py-8 text-center'>
  <div class='w-full md:w-2/3'>
    <Typography as='h3' variant='text'>
      <MarkdownComponent description={description} />
    </Typography>
  </div>
  {
    imgage && (
      <Picture
        src={imgage}
        formats={['avif', 'webp']}
        alt='Banner Image'
        class='w-full rounded-sm shadow-md'
        decoding='async'
        loading='lazy'
        width={1920}
        height={1080}
      />
    )
  }
</section>
