---
import { type HTMLTag, type Polymorphic } from 'astro/types'
import Typography from '../Typography.astro'

type Props = {
  bodyData: string[][]
}

const { bodyData, ...props } = Astro.props
---

{
  bodyData?.map((item) => (
    <tr>
      {item.map((key: string) => (
        <td class='border-b-2 border-black py-6 pl-4 text-left'>
          <Typography as='p' variant='body'>
            {key}
          </Typography>
        </td>
      ))}
    </tr>
  ))
}
